/* ³ÇÊÐÑ¡ÔñÆ÷*/

#CityCH{text-align:left; position:absolute; top:0px; left:0px; background:#ffffff; width:100%; z-index:999; display:none;}

#CityCH >#cityFind{overflow:hidden; text-align:center; padding:5px; padding-top:15px;}
#CityCH >#cityFind>input{ outline:none; border:#dddddd solid 1px; height:25px; width:73%; float:left; font-size:13px; color:#999999; padding-left:10px;}
#CityCH >#cityFind>button{ outline:none; border:#dddddd solid 1px; height:29px; width:20%; float:right; background:none;}

#CityCH >#remenCity{overflow:hidden; height:auto; padding:10px 5px;}
#CityCH >#remenCity>#remenTitle{margin-left:1%; border-bottom:#dddddd solid 1px; margin-bottom:4px; padding-bottom:5px;}
#CityCH >#remenCity>#remenTitle>span{font-size:13px; color:#666666;}
#CityCH >#remenCity>ul{list-style-type:none; padding:0px; margin:0px; overflow:hidden;}
#CityCH >#remenCity>ul>li{width:19.2222%; font-size:13px; display:block; float:left; margin-top:5px; cursor:pointer; -webkit-tap-highlight-color:rgba(255,255,255,0);/* margin-left:2%;  padding:2px 5px;*/ text-align:center;}
#CityCH >#remenCity>ul>li>.remenLi{width:50px; height:20px; line-height:22px; overflow:hidden; border-radius:3px; border:#dddddd solid 1px; margin-left:auto; margin-right:auto;}

#CityCH >#CityList{}
#CityCH >#CityList>.zimuResult{}
#CityCH >#CityList>.zimuResult>.zimuTitle{background:#eeeeee; padding:3px 0px 3px 10px; /*border-bottom:#CCCCCC solid 1px;*/}
#CityCH >#CityList>.zimuResult>.zimuTitle>span{ font-size:12px; color:#999999;}
#CityCH >#CityList>.zimuResult>.cityUL{ padding:0px; margin:0px; list-style-type:none;}
#CityCH >#CityList>.zimuResult>.cityUL>li{color:#999999; font-size:13px; padding:10px 5px 0px 10px; cursor:pointer; -webkit-tap-highlight-color:rgba(255,255,255,0);}
#CityCH >#CityList>.zimuResult>.cityUL>li>.planeName{display:none;}
#CityCH >#CityList>.zimuResult>.cityUL>li>.airportCode{display:none;}


#CityCH >#zimuList{border:#dddddd solid 1px; width:15px; position:fixed; background-color:#FFFFFF; top:69px; right:0px; text-align:center; font-size:12px; z-index:99;}
#CityCH >#zimuList>.zimuOne{margin-top:2px;}
#CityCH >#zimuList>.zimuOne>a{ text-decoration:none; color:#999999;}


/*
#CityCH ul{list-style-type:none; padding:0px; display:none;}
#CityCH ul li{color:#0000FF; margin-top:10px; border:#FF0000 solid 1px; cursor:pointer;}
*/