
*{ margin:0; padding:0; list-style:none;}
body{ font-size:12px;}
img{ border:none;}
/*public*/
.fl{display:inline;float:left}
.fr{display:inline;float:left}
.cf:after{content:"";clear:both;display:block;height:0;overflow:hidden}
.cf{zoom:1}
.pb10{padding-bottom:10px}
.mt10{margin-top:10px}
/*main*/
.lanrenzhijia{width:100%;margin:0px 0px; padding:0px;}
.lanrenzhijia .title{height:20px; border-bottom:1px solid #e7e7e7; padding-top:10px; background:#fff; padding-bottom:10px; margin-left:0px;}
.lanrenzhijia .title h2{ font-size: 20px;font-family: "microsoft yahei";}
.lanrenzhijia .title-list{width:100%; position: relative; top: 6px;}
.lanrenzhijia .title-list li{width:49%; line-height: 20px; text-align:center; float: left; display:inline; -webkit-tap-highlight-color:rgba(255,255,255,0); cursor:pointer; border-right:1px solid #E7E7E7;}
.lanrenzhijia .title-list li.on{color:#007AFF; font-weight: bold;}
.lanrenzhijia .title-list p{position:absolute;top:24px;left:0px;width:50%;height:7px;border-top:1px solid #007AFF; overflow: hidden; text-align: center;}

/*
.lanrenzhijia .title-list b{display:inline-block;width:0;height:0;margin-top:-3px;border-style:solid dashed dashed dashed;border-width:9px;border-color: #ff6600 #fff #fff #fff;overflow: hidden;zoom: 1;font-size: 0;}
*/

.product{position: relative; overflow: hidden; display: none;}
.product-wrap .show{ display: block;}
.product-wrap .product{text-align:center;}

/* 代码整理：懒人之家 www.lanrenzhijia.com */