@CHARSET "UTF-8";
/* CSS Document */
*{ padding:0; margin:0;}
body{text-align:center;}
.banner{overflow:hidden; position:relative;}
.b-img{ height:500px; position:absolute; left:0; top:0; overflow:hidden;}
.b-img .runDiv{ display:block; height:750px; float:left; font-size:100px;}
.b-list{height:20px; padding-top:31%; position:relative; margin:0 auto;z-index:1;}
.b-list span{ display:block;cursor:pointer; width:5px; height:5px; border-radius:50%; border:2px solid #fff; float:left; margin:0 5px; _margin:0 3px;  -webkit-tap-highlight-color:rgba(255,255,255,0);}
.b-list .spcss{border:2px solid #14ab04;}
.bar-left{ position:absolute; z-index:1; display:block; width:100px; height:100%; left:0px; background:none; top:0px; }
.bar-right{ position:absolute;z-index:1; display:block; width:100px; height:100%; right:0px; background:none; top:0px; }
.bar-left em{ display:block; width:50px; height:100px; background:url(../images/arrow.png) 0px 0px no-repeat; margin:0 auto; margin-top:325px;}
.bar-right em{ display:block; width:50px; height:100px; background:url(../images/arrow.png) -50px 0px no-repeat; margin:0 auto; margin-top:325px;}
.bar-left .emcss{ background-position:0px -100px;}
.bar-right .emcss{ background-position:-50px -100px;}
 
ul{	width:100%;	list-style: none; overflow:hidden; padding-bottom:5px; background-color:#FFFFFF;}
.contryClassZ ul li{float: left; width:25%; margin-left:6%; overflow:hidden; margin-top:5%;}
ul li .remenCantroyClass{border-radius:10px; display:block; text-align:center; width:100%; color:#FFFFFF; font-size:13px; font-weight:bold; line-height:60px;}
ul li .contryMonty{margin-top:5px; display:block; width:100%; text-align:center; font-size:13px; color:#C70D07; font-weight:bold; font-family:"微软雅黑";}
ul li img{	width: 60%;	border-radius: 6px;}
#yazhou {display: block;}
#meizhou{display: none;}
#feizhou{display: none;}
#ouzhou{display:none;}
.remenCantroyClass{width:25%; height:60px;}